<!DOCTYPE html>
<html>
<head>
	<title>about</title>
	<link rel="stylesheet" type="text/css" href="/static/about.css">
	 <div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="#/about">About</a>
  <a href="/store">Store</a>
  <a href="/cart">Cart</a>
  <a href="/login">Login</a>
</div>
</head>
<body>
<div class="aboutpandora">
  Pandora A/S is an international Danish jewellery manufacturer and retailer founded in 1982 by Per Enevoldsen. The company started as a family-run jewellery shop in Copenhagen. Pandora is known for its customizable charm bracelets, designer rings, necklaces and watches.</div>

</body>
</html>