<!DOCTYPE html>
<html>
<head>
	<title>cart</title>
		<link rel="stylesheet" type="text/css" href="/static/cart.css">
		 <div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/store">Store</a>
  <a class="active" href="#/cart">cart</a>
  <a href="/login">Login</a>


</div>
</head>
<body>

<h1 style="font-size: 55px;position: absolute;left: 41.5%;top:28%">Cart Function</h1>
<h1 style="font-size: 70px;position: absolute;left: 40%;bottom:50%">Coming Soon</h1>


</body>
</html>