<!DOCTYPE html>
<html>
<head>
	<title>store</title>
		<link rel="stylesheet" type="text/css" href="store.css">
	 <div class="topnav">
  <a href="home.html">Home</a>
  <a href="about.html">About</a>
  <a class="active" href="store.html">Store</a>
  <a href="cart.html">Cart</a>
  <a href="loginin.html">Login in</a>
  
</div>
</head>
<body>

<br>

<div class="prodcard">
    <img src="charm1.jpeg" alt="Denim Jeans" style="width:100px">
  <h1>Family Charm</h1>
 <p class="price">$59.99</p>
  <p>A gold Family Charm</p>
 <p><button>Add to Cart</button></p>
</div>
</body>
</html>