<!DOCTYPE html>
<html>
<head>
	<title>store</title>
		<link rel="stylesheet" type="text/css" href="/static/store.css">
	 <div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a class="active" href="/store">Store</a>
  <a href="/cart">Cart</a>
  <a href="/login">Login</a>
  
</div>
</head>
<body>

<br>
{% for item in data %}
<tr>
    <td>{{product[1]}}</td>
    <td>{{product[2]}}</td>
    
</tr>
{% endfor %}
<div class="card" style="width: 18rem;">
  <h1>Family Charm</h1>
    <img src="/static/charm1.jpeg" class="card-img-top" >
 <div class="card-body">
 <h5 class="card-title"> Gold Family Charm</h5>
 <p class="card-text">$59.99</p>
 <p><button>Add to Cart</button></p>
  </div>
</div>
</body>
</html>
