<!DOCTYPE html>
<html>
<head>
	<title>store</title>
		<link rel="stylesheet" type="text/css" href="/static/store.css">
	 <div class="topnav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a class="active" href="/store">Store</a>
  <a href="/cart">Cart</a>
  <a href="/login">Login</a>
  
</div>
</head>
<body>

<br>
{% for product in products%}

<div class="card" style="width: 18rem;">
  <h1>{{product.name}}</h1>
    <img src="{{product.Picturelink}}" class="card-img-top" >
 <div class="card-body">
 <h5 class="card-title"> {{product.Description}}</h5>
 <p class="card-text">{{product.price}}</p>
 <form method="get" action="/cart">
    <button type="Add to cart">Add to cart</button>
</form>
  </div>
</div>
{%endfor%}
</body>
</html>
